<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="review">
      <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="ollenApp.review.detail.title">Review</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ review.id }}</span>
        </dd>
        <dt><span jhiTranslate="ollenApp.review.score">Score</span></dt>
        <dd>
          <span>{{ review.score }}</span>
        </dd>
        <dt><span jhiTranslate="ollenApp.review.comment">Comment</span></dt>
        <dd>
          <span>{{ review.comment }}</span>
        </dd>
        <dt><span jhiTranslate="ollenApp.review.product">Product</span></dt>
        <dd>
          <div *ngIf="review.product">
            <a [routerLink]="['/product', review.product?.id, 'view']">{{ review.product?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
